
<div class="popupMessageHeaderWrapper">
    <div class="popupMessageHeader">
        <div class="popupMessageHeaderText" id="popupMessageHeaderText">Добавление столбца</div>
        <div class="popupMessageHeaderCloseButton box_close fa fa-times" onclick="showPopUp(false);"
             id="popupMessageCloseButton" style="font-size: 25px;"></div>
    </div>
</div>

<div class="popupMessageTextWrapper" id="popupMessageInputElemWrapper">
    <label for="popupColumnDate">Введите дату:</label> <br />
    <input popup-input="true" type="date" id="popupColumnDate" /> <br />

    <label for="popupColumnType">Введите тип занятия:</label> <br />
    <select id="popupColumnType">
        <option value="0">Урок</option>
        <option value="1">Экзамен</option>
        <option value="2">Лабораторная</option>
        <option value="3">Курсовая</option>
    </select> <br />
</div>

<div class="popupMessageFooterWrapper">
    <div class="popupMessageFooter" id="popupButtonsPanel">
        <div id="popupCanselButton" class="popupMessageFooterButtons" onclick="showPopUp(false);">Отмена</div>
        <div id="popupAddButton" class="popupMessageFooterButtons" onclick="addColumn();">Добавить</div>
    </div>
</div>